.carousel-inner{
    width: 500px;
    padding-left: 10px;
}
.form-border-details{
    border: 1px solid #bbb9b9;
    border-radius: 0px 0px 0px 10px 15px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 30px;
    max-width: 100%;
    height: auto;
}
.form-border-details label{
    margin-bottom: -10px;
}
.car-name{
    margin-right: 50px;
}
.form-check-label{
    color:rgb(100, 96, 96);
}
.form-check-inline{
    margin-right: 80px;
    margin-bottom: 5px;
    width: 290px;
}
#frm-car-detail-extras{
    border: 1px solid #bbb9b9;
    width: 100%;
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.car-header-detail{
    margin-left: 0px;
    margin-right: 0px;
    border-left:1px solid #bbb9b9;
    border:1px solid #bbb9b9;
}
.car-header-seller-info{
    margin-top: 25px;
    margin-right: 15px;
    border: 1px solid #bbb9b9;
    padding-bottom: 15px;
}
.car-header-seller-info .row{
    padding-left: 10px;
}
.car-header-seller-info label{
    margin-bottom: 0px;
    color:rgb(100, 96, 96);
}
.car-header-seller-info .col-2{
     font-weight: bold;
}
.title-seller{
    background: #3a3d40;
    height: 30px;
    margin-bottom: 10px;
    color:white;
    font-weight: bold;
    font-family: Arial;
    font-size: 1.4em;
    text-align: center;
    padding-left: -10px;
}
.car-header-seller-info #sendEmailSeller{
    margin-top: 15px;
}
.form-check-inline {
    margin-right: 20px;
    margin-bottom: 5px;
    width: 290px;
}
 .col-3 .control-label{
    font-weight: bold;
    width: 120%;
 }
 .tab-pane .form-group {
    margin-bottom: 0.5rem;
 }